# General
node_modules/
**/node_modules/
.~lock.*
.venv/
venv/
ENV/
.env
.python-version
.DS_Store
Thumbs.db
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ARC Project
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
pip-log.txt
.ipynb_checkpoints/

# Models & Databases
*.pth
*.pt
*.onnx
*.tflite
*.sqlite
*.db
embeddings.pkl
.cache/
torch_cache/

# Project Artifacts & Documents
dataset/
screenshots/
**/node_modules/
**/scripts/
**/schemas/
**/*.ppt
**/*.pptx
**/*.pdf
**/*.doc
**/*.docx
**/*.pkl
**/*.pth
**/*.pt
**/*.onnx
**/*.tflite
**/*.sqlite
**/*.db
